
body{
    background-color: #0f4b83;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #f0f0f0;
}
.container {
    background-color: white;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 5px;
    border-color: #5e5f5f;
    padding: 20px;
    margin: auto;
    max-width: 1500px;
}
table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}
.escuro{
    background-color: #f2f2f2;
}
th {
    background-color: #32a4e6;
    color: white;
}
ul{
    justify-content: left;
    padding-right: 30px;
	display: flex;
    align-items: center;
	margin: 0px;
	height: 51px;
	background-image: linear-gradient(to top, #0f4b83, #32a4e6);
    box-shadow: 3px 2px 2px black;
}
ul .login{
    position: absolute;
    right: 65px; 
    top: 0px;
}
ul .imoveis{
    position: absolute;
    left: 124.5px; 
    top: 0px;
}
li{
	display: inline-block;
	font-weight: bold;
    font-size: large;
	color: black;
	padding: 15px;
    border-radius: 15px;
}

li:hover{
	background-color: #32a4e6;
	box-shadow: 3px 3px 10px rgba(50, 154, 240, 0.5);
}
header{
    padding: 0px;
}
